@charset "utf-8";

#confirmacao {
	position: relative;
	top: 0px;
}

input#nomeConvidado {
	width: 500px;
}

form {
  width: 600px;
  margin: auto;
}

input, textarea {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
  background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover {
  background-color: #dddddd;
}

legend {
  color: #888888;
  font-size: 13pt;
  font-weight: bold;
  font-family: sans-serif;
}

fieldset {
  border-color: #cecece;
  margin: 20px;
}

fieldset#resposta {
  width: 150px;
}

fieldset#bloco-confirmacao {
  background: url(../_imagens/aliancas.png) no-repeat 300px 80px;
}

#enviar {
	position: relative;
	left: 15px;
	--background-color: rgb(205,110,129);
	background-color: rgb(232,181,187);
	color: white;
	font-weight: bold;
	padding: 8px;
	box-shadow: 2px 2px 1px #aaaaaa;
	cursor: pointer;
	transition: background-color 0.5s;
}

#enviar:hover {
	text-decoration: underline;
	background-color: rgb(205,110,129);
}

#confirmar {
	left: 530px;
}